/*!
 * Toastify js 1.2.2
 * https://github.com/apvarun/toastify-js
 * @license MIT licensed
 *
 * Copyright (C) 2018 Varun A P
 */

.toastify {
  background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
  background: linear-gradient(135deg, #73a5ff, #5477f5);
  border-radius: 2px;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12),
    0 10px 36px -4px rgba(77, 96, 232, 0.3);
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Exo 2", sans-serif;
  max-width: calc(50% - 20px);
  opacity: 0;
  padding: 12px 20px;
  position: fixed;
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 9999;
}

.success {
  color: green;
}

.error {
  color: red;
}

.toastify.on {
  opacity: 1;
}

.toast-close {
  opacity: 0.4;
  padding: 0 5px;
}

.right {
  right: 15px;
}

.left {
  left: 15px;
}

.top {
  top: -150px;
}

.bottom {
  bottom: -150px;
}

.rounded {
  border-radius: 25px;
}

.avatar {
  width: 1.5em;
  height: 1.5em;
  margin: 0 5px;
  border-radius: 2px;
}

@media only screen and (max-width: 360px) {
  .right,
  .left {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: fit-content;
  }
}
